h3 number-archer

h4 использование

p 
  code curl http://localhost:3101/number/:number

p Пример 
  br
  code curl http://localhost:3101/number/83912745000

p Результат 
  code. 
    {
       "code":"391",
       "begin":"2745000",
       "end":"2745099",
       "capacity":"100",
       "operator":"qw",
       "region":{
          "code":"24",
          "title":"Кр.край",
          "county":"2"
       }
    }